<template>
  <div class="home">
    <h1>about view</h1>
    <div class="content">
      <ul>
        <li>version: {{ version }}</li>
        <li>new environment variable: {{ example }}</li>
        <li>another environment variable: {{ another }}</li>
      </ul>
    </div> <!-- content -->
  </div>
</template>

<script>
export default {
  name: 'foo',
  data: function () {
    return {
      version: process.env.VUE_APP_VERSION,
      example: process.env.VUE_APP_EXAMPLE,
      another: process.env.VUE_APP_NAME
      }
    }
}
</script>

<style scoped="css">
</style>
