<template>
  <div class="home">
    <h1>home view</h1>
    <p>
      <a href="http://10.0.16.1:8002/index.php?zone=ifce_tests">
        clique aqui para voltar pra página de autenticação
      </a>
    </p>
  </div>
</template>

<script>
export default {
  name: 'foo'
}
</script>

<style scoped="css">
</style>
